.header {
    background-color: black;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    max-width: 100%;
}

.header__content {
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
}

.nav__city-now {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.nav__city-change {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.nav__conteiner {
    display: flex;
    justify-content: space-between;
}

.nav__city-link {
    color: rgba(255, 255, 255, 0.5);
}

.nav__city {
    display: flex;
    justify-content: space-between;
}

.nav__city-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 121px;

}

.nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__city-icon {
    margin-right: 7px;
}

.nav__menu {
    height: 70px;
}

.nav__menu-link_personal {
    display: flex;
    width: 148px;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    border-bottom:2px solid black;
}

.nav__menu-link_business {
    width: 88px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    border-bottom:2px solid black;
}

.nav__menu-link {
    color: rgba(255, 255, 255, 0.5);

}

.nav__menu-link:hover {
    transition: .3s;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid #F6C164;
}