/* ____________________________ Анлим ____________________________*/
* {
    box-sizing: border-box;
}

.tariff p,
h2 {
    margin: 0;
}

.unlimited__size {
    width: 630px;
    height: 726px;
    /* white */
    background: #FFFFFF;
    /* medium */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding-top: 30px;
}

.unlimited__content {
    padding-left: 40px;
    padding-right: 40px;
}

.unlimited__title {
    display: flex;
    align-items: center;
    width: 349px;
    height: 53px;
    font-family: OfficinaSerifMediumC;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    /* identical to box height */
    text-align: center;
    padding-left: 40px;
    /* grey */
    color: #212121;
    background-image: url(../../img/yellow-fon.png);
}

.unlimited h2 {
    font-family: OfficinaSerifMediumC;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #212121;
}

.unlimited__home {
    display: flex;
}

.unlimited__home-internet {
    flex-basis: 57.27%;
}

b {
    font-family: OfficinaSerifMediumC;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.unlimited__title {
    margin-bottom: 17px;
}

.unlimited__home-title {
    margin-bottom: 15px;
}

.unlimited__text {
    font-family: OfficinaSerifBookC;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.unlimited__text-grey {
    font-family: OfficinaSerifBookC;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */
    color: rgba(33, 33, 33, 0.7);
}

.unlimited__wifi {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.unlimited__wifi-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.unlimited__form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.unlimited__wifi-title {
    margin-bottom: 5px;
}

.unlimited__text_grey {
    margin-top: 5px;
}

#payt[type="checkbox"] {
    display: block;
    position: relative;
    width: 36px;
    height: 19px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #D0D9DE;
    outline: none;
    border-radius: 9.5px;
    cursor: pointer;
}

#payt:checked[type="checkbox"] {
    background: #F6C164;
}

#payt[type="checkbox"]::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    background: white;
    border-radius: 9.5px;
    transition: .5s;
    top: 1px;
    left: 1px;
}

#payt:checked[type="checkbox"]::before {
    left: 18px;
}

/* 2 */
#payt2[type="checkbox"] {
    display: block;
    position: relative;
    width: 36px;
    height: 19px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #D0D9DE;
    outline: none;
    border-radius: 9.5px;
    cursor: pointer;
}

#payt2:checked[type="checkbox"] {
    background: #F6C164;
}

#payt2[type="checkbox"]::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    background: white;
    border-radius: 9.5px;
    transition: .5s;
    top: 1px;
    left: 1px;
}

#payt2:checked[type="checkbox"]::before {
    left: 18px;
}

/* 3 */
#payt3[type="checkbox"] {
    display: block;
    position: relative;
    width: 36px;
    height: 19px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #D0D9DE;
    outline: none;
    border-radius: 9.5px;
    cursor: pointer;
}

#payt3:checked[type="checkbox"] {
    background: #F6C164;
}

#payt3[type="checkbox"]::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    background: white;
    border-radius: 9.5px;
    transition: .5s;
    top: 1px;
    left: 1px;
}

#payt3:checked[type="checkbox"]::before {
    left: 18px;
}

.unlimited__tv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_orange-other {
    width: 164px;
}

.unlimited__pay {
    display: flex;
    justify-content: space-between;
}

.unlimited__pay-column {
    display: flex;
    flex-direction: column;
}

.unlimited__text-big {
    font-family: OfficinaSerifBookC;
    font-style: normal;
    font-weight: normal;
    font-size: 41px;
    line-height: 46px;
    /* grey */
    color: #212121;
    margin-top: 9px;
    margin-bottom: 1px;
}

.unlimited__text_half-big {
    font-family: OfficinaSerifBookC;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;
    color: #212121;
}

.unlimited__text_grey-other {
    margin-bottom: 0;
}

.unlimited__pay-column-other {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.unlimited__text-grey_other {
    font-size: 18px;
    line-height: 20px;
}

.link_blue-other {
    font-family: OfficinaSerifBookC;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-decoration-line: underline;
    /* blue6 */
    color: #15499F;
    margin-bottom: 20px;
}

.unlimited__home-title {
    position: relative;
}

.unlimited__home-title::after {
    content: "";
    position: absolute;
    left: 182px;
    top: -5px;
    background: url(../../icon/www-web.svg) center;
    width: 35px;
    height: 35px;
}

.unlimited__home-title_other::after {
    background: url(../../icon/TV.svg) center;
    left: 117px;
}

.unlimited__mobile-title {
    position: relative;
}

.unlimited__mobile-title::after {
    content: "";
    position: absolute;
    left: 157px;
    width: 35px;
    height: 35px;
    top: -5px;
    background: url(../../icon/telephone.svg) center;
}

.tariff hr {
    height: 1px;
    border: 0;
    background: rgba(196, 196, 196, 0.5);

}

.unlimited hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.unlimited__mobile-title {
    margin-bottom: 15px;
}

.unlimited .unlimited__text {
    margin-bottom: 10px;
}